@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Nunito");

@layer base {
  .nav-header {
    background: linear-gradient(302deg, #BB3135 0%, #ED4525 39%, #EE6149 100%);
  }

  .page-wrapper {
    padding: 40px;
  }
}

@layer components {
  .card {
    border-width: 1.5px;
    border-radius: 10px;
  }
}