# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./packges/zkdb

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      #- name: Test & Build explorer
      #  run: cd ./packages/explorer && npm i && npm run build
      - name: Test & Build kubo
        run: cd ./packages/kubo && npm i && npm run build && npm run test
      #- name: Test & Build portal
      #  run: cd ./packages/portal && npm i && npm run lint && npm run build
      #- name: Test & Build serverless
      #  run: cd ./packages/serverless && npm i && npm run lint && npm run build
      - name: Test & Build zkdb
        run: npm run build && cd ./packages/zkdb && npm i && npm run lint && npm run build && npm run test
